[submodule "drakvuf-doppelganging"]
	path = drakvuf-doppelganging
	url = https://github.com/tklengyel/drakvuf-doppelganging.git
	ignore = dirty
[submodule "libvmi"]
	path = libvmi
	url = https://github.com/tklengyel/libvmi
[submodule "xen"]
	path = xen
	url = https://github.com/tklengyel/xen
