[submodule "xen"]
	path = xen
	url = https://github.com/tklengyel/xen
	ignore = dirty
[submodule "libvmi"]
	path = libvmi
	url = https://github.com/saimoon/libvmi
	ignore = dirty
[submodule "rekall"]
	path = rekall
	url = https://github.com/saimoon/rekall
	ignore = dirty
